{% extends "pages/base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static 'style/base.css' %}" rel="stylesheet" />
    {% block title %} CẢM HỨNG {% endblock %}
  </head>
  <body>
    {% block camhung %}
    <div class="camhung">
      <div class="container">
        <div class="row">
          <div class="card my-3" style="width: 18rem">
            <img
              src="{% static 'images/camhung1.jpg' %}"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">The daily stoic</h5>
              <p class="card-text">300.000VND</p>
              <a
                href="#"
                class="btn btn-primary update-cart"
                data-product="{{product.id}}"
                data-action="add"
                ><i class="bi bi-cart-plus"></i
              ></a>
              <a href="#" class="btn btn-primary"><i class="bi bi-eye"></i></a>
            </div>
          </div>
          <div class="card my-3" style="width: 18rem">
            <img
              src="{% static 'images/camhung2.jpg' %}"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Không theo lối mòn</h5>
              <p class="card-text">170.000VND</p>
              <a
                href="#"
                class="btn btn-primary update-cart"
                data-product="{{product.id}}"
                data-action="add"
                ><i class="bi bi-cart-plus"></i
              ></a>
              <a href="#" class="btn btn-primary"><i class="bi bi-eye"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
